<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=.1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="main.js"></script>
  <title><%= title %></title>
</head>

<body>
<h1 style="text-align: center;color: aliceblue ;padding-top: 2%; background-color: rgb(0, 0, 0); font-size: 60px;font-family: Georgia, 'Times New Roman', Times, serif;">TAREK MOHAMED</h1>
  <section>
    <div class="container">
      <div class="cards-container">
        <div class="row">
          <div class="col-lg-4">
            <div class="single-card-wrapper">
              <a href=<%= github_url %> target="_blank">
                <div class="card-hover-container">
                  <img src="https://www.yudiz.com/codepen/code-hover//github-mark-white.svg" alt="github">
                  <div class="card-gradient"></div>
                  <div class="card-bg-characters">

                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-card-wrapper">
              <a href=<%= linkedin_url %> target="_blank">
                <div class="card-hover-container 51">
                  <svg xmlns="http://www.w3.org/2000/svg" width="116" height="114" viewBox="0 0 116 114" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M48.875,0C21.882,0,0,21.882,0,48.875S21.882,97.75,48.875,97.75S97.75,75.868,97.75,48.875S75.868,0,48.875,0z M30.562,81.966h-13.74V37.758h13.74V81.966z M23.695,31.715c-4.404,0-7.969-3.57-7.969-7.968c0.001-4.394,3.565-7.964,7.969-7.964 c4.392,0,7.962,3.57,7.962,7.964C31.657,28.146,28.086,31.715,23.695,31.715z M82.023,81.966H68.294V60.467 c0-5.127-0.095-11.721-7.142-11.721c-7.146,0-8.245,5.584-8.245,11.35v21.869H39.179V37.758h13.178v6.041h0.185 c1.835-3.476,6.315-7.14,13-7.14c13.913,0,16.481,9.156,16.481,21.059V81.966z"
                      fill="white" />

                  </svg>
                  <div class="card-gradient"></div>
                  <div class="card-bg-characters">
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-card-wrapper">
              <a id="cv-url" href=<%= cv_url %>  target="_blank">

                <div class="card-hover-container 51">
                  <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="-30 -30 116 114" fill="none">
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.720912">
                      </g>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M19.558,25.389c-0.067,0.176-0.155,0.328-0.264,0.455c-0.108,0.129-0.24,0.229-0.396,0.301 c-0.156,0.072-0.347,0.107-0.57,0.107c-0.313,0-0.572-0.068-0.78-0.203c-0.208-0.137-0.374-0.316-0.498-0.541 c-0.124-0.223-0.214-0.477-0.27-0.756c-0.057-0.279-0.084-0.564-0.084-0.852c0-0.289,0.027-0.572,0.084-0.853 c0.056-0.281,0.146-0.533,0.27-0.756c0.124-0.225,0.29-0.404,0.498-0.541c0.208-0.137,0.468-0.203,0.78-0.203 c0.271,0,0.494,0.051,0.666,0.154c0.172,0.105,0.31,0.225,0.414,0.361c0.104,0.137,0.176,0.273,0.216,0.414 c0.04,0.139,0.068,0.25,0.084,0.33h2.568c-0.112-1.08-0.49-1.914-1.135-2.502c-0.644-0.588-1.558-0.887-2.741-0.895 c-0.664,0-1.263,0.107-1.794,0.324c-0.532,0.215-0.988,0.52-1.368,0.912c-0.38,0.392-0.672,0.863-0.876,1.416 c-0.204,0.551-0.307,1.165-0.307,1.836c0,0.631,0.097,1.223,0.288,1.77c0.192,0.549,0.475,1.021,0.847,1.422 s0.825,0.717,1.361,0.949c0.536,0.23,1.152,0.348,1.849,0.348c0.624,0,1.18-0.105,1.668-0.312 c0.487-0.209,0.897-0.482,1.229-0.822s0.584-0.723,0.756-1.146c0.172-0.422,0.259-0.852,0.259-1.283h-2.593 C19.68,25.023,19.627,25.214,19.558,25.389z"
                      fill="white"/>
                    <polygon fill-rule="evenodd" clip-rule="evenodd"
                      points="26.62,24.812 26.596,24.812 25.192,19.616 22.528,19.616 25.084,28.184 28.036,28.184 30.713,19.616 28,19.616 " fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M33.431,0H5.179v45.057h34.699V6.251L33.431,0z M36.878,42.056H8.179V3h23.706v4.76h4.992L36.878,42.056L36.878,42.056z"
                      fill="white"/>
                  </svg>
                  <div class="card-gradient"></div>
                  <div class="card-bg-characters">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</body>

</html>








